# database

DEBUG=True
SECRET_KEY='your-django-secret-key-here'
DATABASE_URL='postgresql://<user>:<password>@<host>/<dbname>?sslmode=require'
DEVICE_KEY='paste-your-device-key'
METER_BASE_URL='render.app/api/meters/device'
PAYSTACK_SECRET_KEY='your-paystack-secret-key'
PAYSTACK_PUBLIC_KEY='your-paystack-public-key'
SITE_REDIRECT_URL='https://your-frontend.example.com/payment-response'
RESEND_API_KEY='your-resend-api-key'
NOTIFICATION_FROM_EMAIL='your-notification-email@example.com'