# database

DEBUG=True
SECRET_KEY='your-django-secret-key-here'
DATABASE_URL='postgresql://<user>:<password>@<host>/<dbname>?sslmode=require'
DEVICE_KEY='paste-your-device-key'
METER_BASE_URL='render.app/api/meters/device'
INTERSWITCH_MERCHANT_CODE='MX007'
INTERSWITCH_PAY_ITEM_ID='101007'
INTERSWITCH_MODE='TEST'
INTERSWITCH_REQUERY_BASE_URL='https://sandbox.interswitchng.com'
SITE_REDIRECT_URL='https://your-frontend.example.com/payment-response'