# database

DEBUG=True
SECRET_KEY='your-django-secret-key-here'
DATABASE_URL='postgresql://<user>:<password>@<host>/<dbname>?sslmode=require'
DEVICE_KEY='paste-your-device-key'
METER_BASE_URL='render.app/api/meters/device'